# Base URL of the application
BASE_URL=https://cloud.qas.up2parts.com

# Base URL of the backoffice
BASE_URL_BACKOFFICE=https://backoffice.dev.up2parts.com

# Test user credentials
TEST_USERNAME=
TEST_PASSWORD=

# XRAY Cloud credentials (Global Settings -> API Keys)
XRAY_CLIENT_ID=
XRAY_CLIENT_SECRET=

# Secret for clearing sessions (requires backend configuration)
E2E_CLEAR_SESSIONS_SECRET=